@using DoctorPortal.Web.Models
@using DoctorPortal.Web.Common
@model ApproveAppointment

<div class="k-edit-form-container" id="statusItem">

    @Html.HiddenFor(m => m.Id)

    <div class="k-edit-label">
        @Html.LabelFor(m => m.ApproveDate)
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().DateTimePickerFor(m => m.ApproveDate).Min(DateTime.Now.Date).Value(DateTime.Now.Date)
            .Format(WebHelper.DateTimeFormat).HtmlAttributes(new { @tabindex = 1 }))
        @Html.ValidationMessageFor(m => m.ApproveDate)
    </div>

    <div class="k-edit-label">
        @Html.LabelFor(m => m.ApproveRemarks)
    </div>
    <div class="k-edit-field">
        @Html.TextAreaFor(m => m.ApproveRemarks, new { @tabindex = 2 , @class="k-textbox" , @rows="4"})
        @Html.ValidationMessageFor(m => m.ApproveRemarks)
    </div>

    <div class="k-edit-buttons k-state-default">
        <a class="k-button k-button-icontext" href="javascript:void(0)" onclick="ApproveAppointment()">Save</a>
        <a class="k-button k-button-icontext" href="javascript:void(0)" onclick="ClosePopupItems() ">Cancel</a>
    </div>
</div>
