@*@model DoctorPortal.Web.Models.HospitalViewModel*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home || Hospitals || Responsive HTML 5 Template</title>

    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    @Styles.Render("~/Content/css")

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Content/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/images/favicon/favicon-16x16.png" sizes="16x16">

    @Scripts.Render("~/bundles/js")

    <!-- gmap helper -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>

    @Scripts.Render("~/bundles/maps")

    <!-- revolution slider js -->
    @Scripts.Render("~/bundles/revolution")

    <!-- thm custom script -->
    <script src="~/Content/js/custom.js"></script>


</head>
<body>

    <div class="boxed_wrapper">

        <div class="preloader"></div>

        @Html.Partial("_TopBarArea")

        @Html.Partial("_HeaderArea")

        @*@Html.Partial("_HeaderSearch")*@

        @Html.Partial("_MainMenuArea")

        @RenderBody()

        @Html.Partial("_FooterArea")

    </div>

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-triangle-inside-circle"></span></div>

</body>
</html>