@using DoctorPortal.Web.Models;
@model MakeAppointmentViewModel

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="single-footer-widget clearfix">
        <div class="title">
            <h3>Make an Appointment</h3>
            <span class="border"></span>
        </div>
        <form class="appointment-form" action="@Url.Action("MakeAppointment","Appointment")" method="post">
            <div class="input-box">
                
                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Your Name" , @id = "footer-name"})
                @Html.ValidationMessageFor(m => m.Name)
                <div class="icon-box">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            </div>
            <div class="input-box">
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Your Email", @id = "footer-email" })
                @Html.ValidationMessageFor(m => m.Email)
                <div class="icon-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
            </div>
            <div class="input-box">
                @Html.TextAreaFor(m => m.Message, new { @placeholder = "Your Message..", @id = "footer-message" })
                @Html.ValidationMessageFor(m => m.Message)
                @*<textarea name="form_message" id="Message" placeholder="Your Message.." required="" aria-required="true"></textarea>*@
            </div>
            <button type="button" onclick="onSubmit()">submit</button>
        </form>
    </div>
</div>

<script>
    function onSubmit() {

        var uri = '@Url.Action("MakeAppointment", "Appointment")';
        var data = {
            Name: $('#footer-name').val(),
            Email: $('#footer-email').val(),
            Message: $('#footer-message').val()
        };
        
        $.post(uri, data, function (res) {
            clearControls();
            if (res.success) {
                alert("Your appointment request has been registered. Our hospital will get back to you soon.");
            } else {
                alert("There was some problem in requesting your appointment.");
            }
        });
    }

    function clearControls() {
        $('#footer-name').val('');
        $('#footer-email').val('');
        $('#footer-message').val('');
    }

</script>
