@using DoctorPortal.Web.Models
@model DoctorPortal.Web.Models.ViewModels.ResetPasswordViewModel

@{
    Layout = null;
    ViewBag.Title = "Reset Password";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Standard Engineering</title>

    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/Content/css/layout.min.css" rel="stylesheet" />
    <link href="~/Content/css/components.min.css" rel="stylesheet" />
    <link href="~/Content/css/colors.min.css" rel="stylesheet" />
    <link href="~/Content/css/pnotify.custom.min.css" rel="stylesheet" />

</head>
<body>

    <!-- Page content -->
    <div class="page-content login-cover">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Forgot Password form -->
                <form class="login-form" action="@Url.Action("ResetPassword","Login")" method="post">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <h5 class="mb-0">Reset Password</h5>
                            </div>

                            @if (ProjectSession.LoggedInUser.IsSystemGeneratedPassword)
                            {
                                <div class="alert alert-warning">
                                    <strong>Reset Password!</strong>
                                    <p>Please reset your password in order to use the system.</p>
                                </div>
                            }

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.PasswordFor(m => m.OldPassword,
                                    new { @class = "form-control", placeholder = "Old Password" })
                                @Html.ValidationMessageFor(m => m.OldPassword)
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.PasswordFor(m => m.NewPassword,
                                    new { @class = "form-control", placeholder = "New Password" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.PasswordFor(m => m.ConfirmPassword,
                                    new { @class = "form-control", @placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i>Reset password</button>
                            <span class="form-text text-center text-muted">
                                If your password is reset successfully, You'll be logged out and redirected to the login screen.
                            </span>
                        </div>
                    </div>
                </form>
                <!-- /login form -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/JS/app.js"></script>
    <script src="~/Scripts/JS/pnotify.custom.min.js"></script>

    <script type="text/javascript">
         $(document).ready(function () {

             var errormessage = '@TempData[NotifyType.Error]';
             var successmessage = '@TempData[NotifyType.Success]';
            if (errormessage !== "") {
                ShowErrorMessage(errormessage);
            }

            if (successmessage !== "") {
                SucessMessage(successmessage);
            }
        });

        function ShowErrorMessage(msg) {
            new PNotify({
                text: msg,
                type: 'error'
            });
        }


        function SucessMessage(msg) {
            new PNotify({
                text: msg,
                type: 'success'
            });

        }
    </script>
</body>
</html>





