@model DoctorPortal.Web.Areas.Admin.Models.ViewModels.LoginViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

<form class="login-form" action="@Url.Action("Index","Login")" method="post">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ReturnUrl)

    <div class="card mb-0">
        <div class="tab-content card-body">
            <div class="tab-pane fade show active" id="login-tab1">
                <div class="text-center mb-3">
                    <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0">Login to your account</h5>
                    <span class="d-block text-muted">Your credentials</span>
                </div>

                @Html.HiddenFor(m => m.RememberMe)

                <div class="form-group form-group-feedback form-group-feedback-left">
                    @Html.TextBoxFor(m => m.UserNameOrEmail, new { @class = "form-control", required = "required", placeholder = "User Name or Email" })
                    @*@Html.LabelFor(m => m.UserName, new { @class = "md-control-label" })*@
                    @Html.ValidationMessageFor(m => m.UserNameOrEmail)
                    <div class="form-control-feedback">
                        <i class="icon-user text-muted"></i>
                    </div>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                    <div class="form-control-feedback">
                        <i class="icon-lock2 text-muted"></i>
                    </div>
                </div>

                <div class="form-group d-flex align-items-center">
                    <div class="form-check mb-0">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" checked="checked" id="rememberMe" onclick="rememberMeChk();">
                            Keep me signed in
                        </label>
                    </div>

                    <a href="@Url.Action("ForgotPassword","Login")" class="ml-auto">Forgot password?</a>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </div>
                @*<span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>*@
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#RememberMe").val($('#rememberMe').is(":checked"));

        function rememberMeChk() {
            $("#RememberMe").val($('#rememberMe').is(":checked"));
        }
</script>
